@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>@ViewBag.BaseAuthUrl</p>
@if (ViewBag.forecast != null)
{
    <h2>Temperatura</h2>
    <div class="row">
        <div class="col">Data</div>
        <div class="col">Temperatura ºC</div>
        <div class="col">Temperatura ºF </div>
        <div class="col">Descrição</div>
    </div>

    foreach (var item in (List<Forecast>)ViewBag.forecast)
    {
        <div class="row">
            <div class="col">@item.date</div>
            <div class="col">@item.temperatureC</div>
            <div class="col">@item.temperatureF</div>
            <div class="col">@item.summary</div>
        </div>
    }
}