@using Cadastro.MVC.Models.Response
@model FuncionarioResponse

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Funcionário</h4>
<hr />
<form asp-action="Edit" asp-route-id="@Model.UserId">
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" readonly />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-group">


                <label asp-for="SobreNome" class="control-label"></label>
                <input asp-for="SobreNome" class="form-control" />
                <span asp-validation-for="SobreNome" class="text-danger"></span>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">

                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" type="date" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>

        </div>
        <div class="col">
            <div class="form-group">

                <label class="control-label" asp-for="Ativo"></label>
                <div class="form-check  form-switch" style="padding-left:50px">
                    <input class="form-control-lg form-check-input" asp-for="Ativo" checked="@Model.Ativo" role="switch" style="width:70px !important; min-height:30px !important" />
                    <label class="form-check-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </div>
            </div>

        </div>
    </div>

    
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>



    <h4>Telefones <span style="font-size:small"><a href="#"> Adicionar</a></span></h4>
    <hr />
    <div class="row">
        <div class="col" id="tels">
            @foreach (var telefones in Model.Telefones)
            {
                <input asp-for="@telefones.Id" type="hidden" />
                <div class="form-group">
                    <label asp-for="@telefones.DDI" class="control-label"></label>
                    <input asp-for="@telefones.DDI" class="form-control" />
                    <span asp-validation-for="@telefones.DDI" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@telefones.Telefone" class="control-label"></label>
                    <input asp-for="@telefones.Telefone" class="form-control" />
                    <span asp-validation-for="@telefones.Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="button" value="Remover" class="button button-danger" />
                </div>
            }
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="residencial-tab" data-bs-toggle="tab" data-bs-target="#residencial" type="button" role="tab" aria-controls="residencial" aria-selected="true">Endereço Residencial</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="comercial-tab" data-bs-toggle="tab" data-bs-target="#comercial" type="button" role="tab" aria-controls="comercial" aria-selected="false">Endereço Comercial</button>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="residencial" role="tabpanel" aria-labelledby="residencial-tab" tabindex="0">

                <input asp-for="EnderecoResidencial.Id" type="hidden" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="EnderecoResidencial.CEP" class="control-label"></label>
                            <input asp-for="EnderecoResidencial.CEP" class="form-control" />
                            <span asp-validation-for="EnderecoResidencial.CEP" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="EnderecoResidencial.Rua" class="control-label"></label>
                            <input asp-for="EnderecoResidencial.Rua" class="form-control" />
                            <span asp-validation-for="EnderecoResidencial.Rua" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-2">

                        <div class="form-group">
                            <label asp-for="EnderecoResidencial.Numero" class="control-label"></label>
                            <input asp-for="EnderecoResidencial.Numero" class="form-control" />
                            <span asp-validation-for="EnderecoResidencial.Numero" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="EnderecoResidencial.Complemento" class="control-label"></label>
                            <input asp-for="EnderecoResidencial.Complemento" class="form-control" />
                            <span asp-validation-for="EnderecoResidencial.Complemento" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="EnderecoResidencial.Bairro" class="control-label"></label>
                            <input asp-for="EnderecoResidencial.Bairro" class="form-control" />
                            <span asp-validation-for="EnderecoResidencial.Bairro" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="EnderecoResidencial.Cidade" class="control-label"></label>
                            <input asp-for="EnderecoResidencial.Cidade" class="form-control" />
                            <span asp-validation-for="EnderecoResidencial.Cidade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="EnderecoResidencial.UF" class="control-label"></label>
                            
                            <select asp-for="EnderecoResidencial.UF" class="form-select">
                                <option value="" disabled selected>Selecione uma UF</option>
                                <option value="SP">SP - São Paulo</option>
                                <option value="AC">AC - Acre</option>
                                <option value="AL">AL - Alagoas</option>
                                <option value="AP">AP - Amapá</option>
                                <option value="AM">AM - Amazonas</option>
                                <option value="BA">BA - Bahia</option>
                                <option value="CE">CE - Ceará</option>
                                <option value="DF">DF - Distrito Federal</option>
                                <option value="ES">ES - Espírito Santo</option>
                                <option value="GO">GO - Goiás</option>
                                <option value="MA">MA - Maranhão</option>
                                <option value="MT">MT - Mato Grosso</option>
                                <option value="MS">MS - Mato Grosso do Sul</option>
                                <option value="MG">MG - Minas Gerais</option>
                                <option value="PA">PA - Pará</option>
                                <option value="PB">PB - Paraíba</option>
                                <option value="PR">PR - Paraná</option>
                                <option value="PE">PE - Pernambuco</option>
                                <option value="PI">PI - Piauí</option>
                                <option value="RJ">RJ - Rio de Janeiro</option>
                                <option value="RN">RN - Rio Grande do Norte</option>
                                <option value="RS">RS - Rio Grande do Sul</option>
                                <option value="RO">RO - Rondônia</option>
                                <option value="RR">RR - Roraima</option>
                                <option value="SC">SC - Santa Catarina</option>
                                <option value="SE">SE - Sergipe</option>
                                <option value="TO">TO - Tocantins</option>
                            </select>

                            <span asp-validation-for="EnderecoResidencial.UF" class="text-danger"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane" id="comercial" role="tabpanel" aria-labelledby="comercial-tab" tabindex="0">

                <input asp-for="EnderecoComercial.Id" type="hidden" />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="EnderecoComercial.CEP" class="control-label"></label>
                            <input asp-for="EnderecoComercial.CEP" class="form-control" />
                            <span asp-validation-for="EnderecoComercial.CEP" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="EnderecoComercial.Rua" class="control-label"></label>
                            <input asp-for="EnderecoComercial.Rua" class="form-control" />
                            <span asp-validation-for="EnderecoComercial.Rua" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-2">

                        <div class="form-group">
                            <label asp-for="EnderecoComercial.Numero" class="control-label"></label>
                            <input asp-for="EnderecoComercial.Numero" class="form-control" />
                            <span asp-validation-for="EnderecoComercial.Numero" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="EnderecoComercial.Complemento" class="control-label"></label>
                            <input asp-for="EnderecoComercial.Complemento" class="form-control" />
                            <span asp-validation-for="EnderecoComercial.Complemento" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">

                        <div class="form-group">
                            <label asp-for="EnderecoComercial.Bairro" class="control-label"></label>
                            <input asp-for="EnderecoComercial.Bairro" class="form-control" />
                            <span asp-validation-for="EnderecoComercial.Bairro" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="EnderecoComercial.Cidade" class="control-label"></label>
                            <input asp-for="EnderecoComercial.Cidade" class="form-control" />
                            <span asp-validation-for="EnderecoComercial.Cidade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label asp-for="EnderecoComercial.UF" class="control-label"></label>
                            
                            <select asp-for="EnderecoComercial.UF" class="form-select">
                                <option value="" disabled selected>Selecione uma UF</option>
                                <option value="SP">SP - São Paulo</option>
                                <option value="AC">AC - Acre</option>
                                <option value="AL">AL - Alagoas</option>
                                <option value="AP">AP - Amapá</option>
                                <option value="AM">AM - Amazonas</option>
                                <option value="BA">BA - Bahia</option>
                                <option value="CE">CE - Ceará</option>
                                <option value="DF">DF - Distrito Federal</option>
                                <option value="ES">ES - Espírito Santo</option>
                                <option value="GO">GO - Goiás</option>
                                <option value="MA">MA - Maranhão</option>
                                <option value="MT">MT - Mato Grosso</option>
                                <option value="MS">MS - Mato Grosso do Sul</option>
                                <option value="MG">MG - Minas Gerais</option>
                                <option value="PA">PA - Pará</option>
                                <option value="PB">PB - Paraíba</option>
                                <option value="PR">PR - Paraná</option>
                                <option value="PE">PE - Pernambuco</option>
                                <option value="PI">PI - Piauí</option>
                                <option value="RJ">RJ - Rio de Janeiro</option>
                                <option value="RN">RN - Rio Grande do Norte</option>
                                <option value="RS">RS - Rio Grande do Sul</option>
                                <option value="RO">RO - Rondônia</option>
                                <option value="RR">RR - Roraima</option>
                                <option value="SC">SC - Santa Catarina</option>
                                <option value="SE">SE - Sergipe</option>
                                <option value="TO">TO - Tocantins</option>
                            </select>

                            <span asp-validation-for="EnderecoComercial.UF" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

    </script>
}
