@model Cadastro.MVC.Models.Response.Response<IEnumerable<Cadastro.MVC.Models.Response.FuncionarioResponse>>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped" aria-describedby="Novo Funcionário">
    <thead>
        <tr>
            <th>
                Matricula
            </th>
            <th>
                Cargo
            </th>
            <th>
                Nome
            </th>
            <th>
                SobreNome
            </th>
            <th>
                E-mail
            </th>
            <th>
                Nascimento
            </th>
            <th>
                Status
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SobreNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.UserId  })
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Paginação">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        @{
            if (Model.QtdTotalPaginas > 0) 
            {
                var inicioContagem = Model.PaginaAtual > 5 ? (int)Model.PaginaAtual - 5 : 1;
                var fimContagem = (int)Model.PaginaAtual + 7 < Model.QtdTotalPaginas ? (int)Model.PaginaAtual + 7 : Model.QtdTotalPaginas;
                for (int i = inicioContagem; i <= fimContagem; i++)
                {
                    if (ViewBag.paginaAtual == @i)
                    {
                        <li class="page-item  active" aria-current="page"><a class="page-link " asp-action="Index" asp-route-pagina="@i" asp-route-qtdItens="@Model.QtdItensPorPaginas">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link " asp-action="Index" asp-route-pagina="@i" asp-route-qtdItens="@Model.QtdItensPorPaginas">@i</a></li>
                    }
                }
            }
        }

        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>